body {
  margin: 0;
  color: #333;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

ul, li{
  list-style-type: none;
}

a {
  color: #666;
  text-decoration: none;
}

#__nuxt {
  width: 100%;
  margin: 0 auto;
}

/* #__layout {
  width: 100%;
} */

.el-header {
  width: 100%;
  padding: 0;
  background-color: #ecf5ff;
}

.search-bar {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DCDFE6;
}

.el-main {
  width: 100%;
  padding: 0;
  background-color: #f6f6f6;
}

.el-footer {
  width: 100%;
  padding: 0;
  background-color: #f0f0f0;
}

.main-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-overflow {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.hot-recommand {
  padding: 12px 26px;
  background-color: #fff;
}

.hot-recommand li{
  margin-top: 12px;
}

.hot-recommand a {
  font-size: 12px;
}

.hot-recommand img {
  width: 185px;
  height: 100px;
  border-radius: 4px;
}

.hot-recommand .comment {
  display: flex;
}

.hot-recommand p,
.hot-recommand .comment {
  margin: 4px 0;
}

.hot-recommand .count,
.hot-recommand .address{
  color: #999;
}

.hot-recommand .price {
  color: #f60;
}

.hot-recommand .price span {
  font-size: 18px;
}